.songRow {
  font-size: 10px;
  color: white;
  display: flex;
  text-align: left;
  background-color: black;

  width: calc(100% - 4px);
  height: 60px;
  margin: auto;
}

img {
  height: 40px;
  margin: 10px;
}

.song {
  padding-top: 10px;
  width: 40%;
}
.songItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.context {
  padding-top: 10px;
  width: 40%;
}

.contextItem:hover {
  cursor: pointer;
  text-decoration: underline;
}
