.dayView {
  width: 50%;
  background-color: black;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .dayView {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
  }
}
