.songNode {
  height: 15px;
  width: 15px;

  max-width: 80%;
  max-height: 80%;

  border: 0px solid black;
  border-radius: 100%;
  background-color: black;

  margin: 3px 0px;

  align-self: center;
  display: fixed;
}

.songNode:hover {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
}
